*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
/target
/webapp/upload
lib
.DS_Store
/${env.ANT_HOME}/
/build/
/bin/
/dist/
node_modules/
.sass-cache/
.tern-port
.tern-project
.ant-targets-build.xml
.ant-targets-build.xml
.settins/
.settings/
*.iml
*.ipr
*.iws
/target/
.externalToolBuilders/
.externalToolBuilders/
