<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd


    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
    <util:properties id="config" location="classpath:/config.properties"/>

    <!-- Enable annotation based container configuration  -->
    <context:annotation-config/>

    <bean class="com.suidifu.morganstanley.configuration.SwaggerConfig"/>
    <!--<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>-->
    <!--<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>-->

</beans>
