*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
/target
/webapp/upload
lib
.DS_Store
/build/
/bin/
/dist/
node_modules/
.settings/
.settings/org.eclipse.wst.common.component
bridgewater-remittance.iml
.idea/
*.iml
*.iml
