.repayment-account-list,
.contract-no-list {
    li {
        line-height: 22px;
        padding: 5px;

        .subtitle {
            font-size: 12px;

            .supplement {
                color: #999;
            }
        }
    }
}

.richtext-dropdown {
    .el-select-dropdown__item {
        height: auto;
        .title {
            line-height: 22px;
            .subtitle {
                font-size: 12px;

                .supplement {
                    color: #999;
                }
            } 
            .color-red {
                color: red;
            }
            .color-gray {
                color: gray;
            }
        }
    }
}