*.class
*.jar
*.war
*.ear
.classpath
.project
.settings/
/target/
/webapp/upload
lib
.DS_Store
/${env.ANT_HOME}/
/build/
/bin/
/dist/
npm-debug.log
node_modules/
.sass-cache/
.tern-port
.tern-project
/junit/
.ant-targets-build.xml
.settings/
*.iws
*.ipr
*.iml
.externalToolBuilders/
.externalToolBuilders
/target/
/dataSyncOnline2016-10-29-0
webapp/static/dist/
nulldsout-900000004-10001-20161227.data
src/test/resources/saveFilePathdsout-900000004-10001-20161227.data
/tmp/webapp/WEB-INF/jsps/index.jsp
webapp/WEB-INF/jsps/index.jsp
webapp/static/node_modules
