{
    "presets": ["es2015", "stage-3"],
    "comments": false,
    "plugins": [["component", [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "~src/assets/themes/default"
        }
    ]],"transform-vue-jsx"]
}