<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<properties>
			<property name="project-name">greenlight</property>
			<property name="logfile-dir">./logs/</property>
			<property name="console-pattern">%d{yyyyMMdd HH:mm:ss.SSS} [%level:%thread] %logger{36} - %msg%n</property>
			<property name="logfile-pattern">%d{yyyyMMdd HH:mm:ss.SSS} [%level:%thread] %logger - %msg%n</property>
	</properties>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${console-pattern}" />
		</Console>
		<RollingFile name="${project-name}"  fileName="${logfile-dir}${project-name}.log" filePattern="${logfile-dir}${project-name}.%d{yyyyMMdd}-%i.log.gz" bufferedIO="true" immediateFlush="true">
			<PatternLayout pattern="${logfile-pattern}" />
			 <Policies>
                    <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                    <SizeBasedTriggeringPolicy size="1 GB" />
            </Policies>
		</RollingFile>
		<RollingFile name="${project-name}-info" fileName="${logfile-dir}${project-name}-info.log" filePattern="${logfile-dir}${project-name}-info.%d{yyyyMMdd}-%i.log.gz" bufferedIO="true" immediateFlush="false">
			<PatternLayout pattern="${logfile-pattern}" />
			<filters>
					<ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
					<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
					<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
					<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
	        </filters>
			 <Policies>
                    <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                    <SizeBasedTriggeringPolicy size="1 GB" />
            </Policies>
		</RollingFile>
		<RollingFile name="${project-name}-error" fileName="${logfile-dir}${project-name}-error.log" filePattern="${logfile-dir}${project-name}-error.%d{yyyyMMdd}-%i.log.gz" bufferedIO="true" immediateFlush="false">
			<PatternLayout pattern="${logfile-pattern}" />
			<filters>
			     <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
	        </filters>
			<Policies>
                    <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                    <SizeBasedTriggeringPolicy size="1 GB" />
            </Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="stdout" />
			<!--	 
			<AppenderRef ref="${project-name}" />
			<AppenderRef ref="${project-name}-info" />
			<AppenderRef ref="${project-name}-error" />
			  --> 
		</Root>
	</Loggers>
</Configuration>