*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
/target
/webapp/upload
lib
.DS_Store
/${env.ANT_HOME}/
/build/
/bin/
/dist/
node_modules/
.settings/
doc/
*.log
.ant-targets-build.xml
.idea/
*.iml
*.log.gz
*.log.gz
.externalToolBuilders
